@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
        <ul><div class="floatleft">
            <li><a class="active" href = "/home">Home Page</a></li>
            <li><a href = "/myPage">My Page</a></li>
            <li><a href = "/items">Form Submission</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Page Types</a>
                <div class="dropdown-content">
                    <a href="/options">Options Page Example</a>
                    <a href="/dynamic">Dynamic Page Example</a>
                    <a href="/A+Page+That+Does+Not+Exist!">Example 404 Page</a>
                    <a href="/todo">Example TODO page</a>
                </div></li>
             </div>
            <div class="floatright">
            <li class="navbar-right"><form style="padding: 15px">
                <input type="text" id="searchbar" class="searchbox" placeholder="Search for an Item..." required>
                <input type="button" class="searchbutton" onclick="search()" value="Search">
            </form></li></div>
        </ul>
        </div>
        <script>
            function search() {
                const searchterm = document.getElementById("searchbar").value
                const searchuri = "/items/" + searchterm
                window.location.href = searchuri
            }
        </script>

        <div style=height:1500px;>
    @content
        </div>
    </body>
</html>
